path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node {
	fill: white;
	stroke: black;
	stroke-width: 2px;
	transition: all 0.2s ease-in;
}

.hare {
	stroke: #F9690E;
	stroke-width: 7px;
}

.visited {
	stroke: #cccccc;
}
	.visited text {
		stroke: #999999;
	}


.tortoise {
	fill: #87D37C;
	stroke: #000000;
}
	.tortoise text {
		stroke: #000000;
	}

g text {
	font-weight: 200;
	font-family: Helvetica, sans-serif;
	font-size: 80%;
	stroke-width: 1px;
}

path.visitedLink {
	stroke: #cccccc;
}
path.visitingLink {
	stroke: red;
}