path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node {
	fill: white;
	stroke: black;
	stroke-width: 2px;
	transition: all 0.2s ease-in;
}

.hare {
	stroke: #96281B;
	fill: #F64747;
	stroke-width: 2px;
}
	.hare text {
		stroke: #000000;
	}

.tortoise {
	fill: #87D37C;
}
	.tortoise text {
		stroke: #000000
	}
	
.tortoise.hare {
	stroke: #F64747;
	stroke-width: 6px;
}

g text {
	font-weight: 200;
	font-family: Helvetica, sans-serif;
	font-size: 80%;
	stroke-width: 1px;
}